<div class="concert-header position-relative text-white">
  <!-- Overlay for better readability -->
  <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>

  <!-- Centered text content -->
  <div class="d-flex justify-content-center align-items-center h-100 position-relative text-center">
    <div>
      <h1 class="display-1 fw-bold">{{ concert?.name }}</h1>
      <p class="lead">{{ concert?.date | date: 'EEEE, dd MMMM yyyy' }}</p>
      <a *ngIf="ticket == null" (click)="buyTicket()" class="btn btn-primary btn-lg mt-3">Buy Tickets</a>
      <div *ngIf="ticket">
        <h3 class="mt-3">You've bought a ticket!</h3>
        <a class="btn btn-primary btn-lg mt-3" routerLink="/tickets">Show tickets</a>
      </div>
    </div>
  </div>
</div>

<!-- Concert details -->
<div class="container mt-5">
  <angular-concert-project-error *ngIf="errMsg" [message]="errMsg"/>
  <!-- Line-up Section -->
  <section class="mb-5">
    <div class="bg-dark text-white p-3 rounded">
      <h2 class="h4 mb-0">Line-up</h2>
    </div>
    <ul class="list-group mt-3">
      <li
        *ngFor="let artist of concert?.artists"
        class="list-group-item d-flex align-items-center artist-item"
        (click)="navigateToArtistDetail(artist.id)"
        role="button"
      >
        🎤 <span class="ms-2">{{ artist.name }}</span>
      </li>
    </ul>
  </section>

  <!-- Location Section -->
  <section class="mb-5">
    <div class="bg-dark text-white p-3 rounded">
      <h2 class="h4 mb-0">Location</h2>
    </div>
    <div class="mt-3">
      <p class="lead mb-0">📍 {{ concert?.location?.name }}</p>
    </div>
  </section>
</div>
