<div class="container">
    <angular-concert-project-error *ngIf="errMsg" [message]="errMsg"/>
      
    <div class="d-flex justify-content-between mt-3">
        <h2 *ngIf="!isEdit">Create Artist</h2>
        <h2 *ngIf="isEdit">Edit Artist</h2>
    </div>
    <hr>
    <form #artistForm="ngForm" (ngSubmit)="onSubmit(artistForm)">
        <div class="form-group my-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter artist name"
                #artistName="ngModel" [(ngModel)]="artist.name" required>
            <div *ngIf="artistName.touched && artistName.invalid" class="text-danger">
                Name is required.
            </div>
        </div>
        <div class="form-group my-3">
            <label for="genre">Genre</label>
            <input type="text" class="form-control" id="genre" name="genre" placeholder="Enter genre"
                #artistGenre="ngModel" [(ngModel)]="artist.genre" required>
            <div *ngIf="artistGenre.touched && artistGenre.invalid" class="text-danger">
                Genre is required.
            </div>
        </div>
        <div class="form-group my-3">
            <label for="birthday">Birthday</label>
            <input type="date" class="form-control" id="birthday" name="birthday"
                [(ngModel)]="artist.birthday" #artistBirthday="ngModel" required>
            <div *ngIf="artistBirthday.touched && artistBirthday.invalid" class="text-danger">
                Birthday is required.
            </div>
        </div>
        <div class="form-group my-3">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" name="country" placeholder="Enter country"
                #artistCountry="ngModel" [(ngModel)]="artist.country" required>
            <div *ngIf="artistCountry.touched && artistCountry.invalid" class="text-danger">
                Country is required.
            </div>
        </div>
        <div class="form-group my-3">
            <label for="image">Profile Picture</label>
            <input type="file" class="form-control" id="image" name="image" accept="image/*"
                (change)="onFileSelected($event)" [(ngModel)]="imgSrc">
        </div>
        <div *ngIf="base64Img" class="my-3">
            <h5>Current Profile Picture</h5>
            <img [src]="base64Img" alt="Image" class="img-thumbnail" style="max-width: 200px;">
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary my-3">
                {{ isEdit ? 'Update Artist' : 'Create Artist' }}
            </button>
        </div>
    </form>
    
</div>
