<div class="container">
    <div class="d-flex justify-content-between mt-3">
        <h2 *ngIf="!isEdit">Create concert</h2>
        <h2 *ngIf="isEdit">Edit concert</h2>
        <a class="btn btn-primary my-2" routerLink="../../">Return to overview</a>
    </div>
    <hr>
    <form #concertForm="ngForm" (ngSubmit)="concertForm.form.valid && onSubmit(concertForm)">
        <input *ngIf="isEdit" type="hidden" id="id" name="id" [(ngModel)]="concert!.id">
        <h3>Concert details</h3>
        <div class="form-group my-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter concert name"
                #concertName="ngModel" [(ngModel)]="concert!.name" required>
        </div>
        <div class="form-group my-3">
            <label for="date">Date</label>
            <input type="text" class="form-control" id="date" name="date" placeholder="Enter the date of the concert"
                (ngModel)="concert!.date" [ngModel]="concert!.date | date: 'MM/dd/yyyy'">
        </div>
        <h3>Location details</h3>
        <div class="row my-3">
            <div class="form-group col-md-6">
                <label for="locationName">Location Name</label>
                <input type="text" class="form-control" id="locationName" name="locationName" placeholder="Enter location name"
                    [(ngModel)]="concert!.location!.name" #locationName="ngModel" required>
            </div>
            <div class="form-group col-md-6">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter address"
                    [(ngModel)]="concert!.location!.address" #address="ngModel" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="form-group col-md-6">
                <label for="city">City</label>
                <input type="text" class="form-control" id="city" name="city" placeholder="Enter city"
                    [(ngModel)]="concert!.location!.city" #city="ngModel" required>
            </div>
            <div class="form-group col-md-6">
                <label for="capacity">Capacity</label>
                <input type="number" class="form-control" id="capacity" name="capacity" placeholder="Enter capacity"
                    [(ngModel)]="concert!.location!.capacity" #capacity="ngModel" required>
            </div>
        </div>

        <h3>Artists attending</h3>
        <div *ngFor="let artist of artists; let i = index" class="mb-3 border p-3">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Artist {{ i + 1 }}</h5>
                <div>
                    <button type="button" class="btn btn-link" (click)="toggleCollapse(i)">
                        {{ collapsedArtists[i] ? 'Show' : 'Hide' }}
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeArtist(i)">Remove</button>
                </div>
            </div>
            <div *ngIf="!collapsedArtists[i]">
                <div class="form-row my-3">
                    <div class="form-group">
                        <label for="artistName{{i}}">Artist Name</label>
                        <input type="text" class="form-control" id="artistName{{i}}" name="artistName{{i}}" placeholder="Enter artist name"
                            [(ngModel)]="artist.name" [name]="'artistName' + i" required>
                    </div>
                    <div class="form-group">
                        <label for="artistGenre{{i}}">Genre</label>
                        <input type="text" class="form-control" id="artistGenre{{i}}" name="artistGenre{{i}}" placeholder="Enter genre"
                            [(ngModel)]="artist.genre" [name]="'artistGenre' + i" required>
                    </div>
                    <div class="form-group">
                        <label for="artistBirthday{{i}}">Birthday</label>
                        <input type="date" class="form-control" id="artistBirthday{{i}}" name="artistBirthday{{i}}"
                            [(ngModel)]="artist.birthday" [name]="'artistBirthday' + i" required>
                    </div>
                </div>
            </div>
        </div>
        <a type="button" class="btn btn-secondary my-2" (click)="addArtist()">Add artist</a>
    </form>
</div>
